
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: 'Nunito Sans', sans-serif;
}


/* menu */
.menu{
    margin-left: 350px;
    margin-top: 25px;
    height: 5px;
    font-size: 16px;
    font-weight: 900;
    font-style: normal;
}

/*accueil*/
.Accueil {
    background-image: url('../img-accueil/lago.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    height: 700px; 
}

/* .accuei{
    
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    color: #FFFFFF;
    height: 167px;
} */
/*button-accueil */
/* .bouton{
    margin-left: 223px;
} */

.bout-one{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 215px;
    height: 63px;
    background: #CE0033;
    border-radius: 103px;
}
.bout-one:hover{
    
}
.learners{

}

.bout-two{
    margin-top: 20%;
    height: 34px;
    width: 112px;
    /* display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 26px 105px;

position: absolute;
width: 112px;
height: 34px;
left: 454px; */


background: #CE0033;
box-shadow: -1px 0px 13px rgba(206, 0, 51, 0.13);
border-radius: 50px;
}



.bout-tweet{
    background: #CE0033;
    /* display: flex; */
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    /* position: absolute; */
    width: 87px;
    height: 32px;
    margin-left: 40px;
    margin-top: -5px;
    border-radius: 25px;
    line-height: 22px;
    font-size: 16px;
}

/* identical to box height */

/* color: #FFFFFF; */

.history{
    background-image: linear-gradient(253.7deg, rgba(206, 0, 51, 0.1386) -20.13%, rgba(255, 249, 249, 0) 100%);
}
.nom{

    width: 407px;
    height: 69px;
  
    font-weight: 800;
    font-size: 26px;
    line-height: 49px;
    text-transform: uppercase;
    color: #CE0033;
  
}

.discovery{
    width: 100%;
    height: 764px;
   
    background-image: url("../img-accueil/decouverte.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 25px;
}
.infos{
    color: #FFFFFF;
    margin-left: 98px;
    text-align: left;
    padding-top: 8%; 
}

.figure{
    background-color: #CE0033;
    height: 208px;
    width: 1281.88px;
    /* font-style: normal;
    font-weight: bold; */
    border-radius: 10px;
    /* margin-left: 6% !important;  */
    margin-top: -56px;
    /* width: 1281.88px;
    height: 247.52px; */
}

.figure h1{
    color: #FFF;
    padding-left: 85px;
    font-weight: bold;
    font-size: 54px;
}
.figure p{
    color: #FFF;
    padding-left: 85px;
    font-weight: normal;
    
}

.shoot{
    height: 372px;
    width: 302px;
}

.title-new{

    color: #CE0033; 
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
}
.title-info{
    color: #CE0033;
    font-weight : 800;
    font-size: 30px;
    width: 193px;
    height: 56px;
}
.row h3{
   justify-content: flex-start;
    
}
.title-info1{
    color: #CE0033;
    font-weight : 800;
    font-size: 30px;
    width: 369px;
    height: 56px;
    top: 530px;
}
.more-infos{
    color: #CE0033;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    letter-spacing: -0.02em;
}

.event-bloc{
    background-color: #CE0033;
    height: 191px;
    width: 628px;
    left: -12px;
    top: 630px;
    border-radius: 8px;
}
.annonce{
    font-weight: bold;
    color: #fff;
    padding: 5%;
    font-size: 25px;
    font-style: normal;
}
.cohorte{
    color: #fff;
    width: 361px;
    height: 79px;
    line-height: 20px;
    margin-left: 65px;
    top: -57px;

}


/* .event-bloc{
    background-color: #CE0033;
    height: 195px;
}
.event-item p {
    color: #fff;
    margin-top: 35px;
    padding: 15px;

    width: 540px;
height: 119px;
left: 44px;
top: 670px;


} */
.div-voir-plus{
    position: relative;
    margin-top: -7rem;
    margin-left: 60%;
    
}
.voir-plus{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;

}
.tiret{
    position: absolute;
    width: 10px;
    height: 60px;
    background: crimson;
    margin-top: -1.5rem;
    margin-left: 30%;  
}
.souligne-nom{
    width: 160px;
    height: 2px;
    background: #000000;
    margin-top: -0.5rem;
}

.trainer {
    display: flex;
    flex-direction: row;
    height: 397px;
    width: 498px;
    box-shadow: 0px 3px 67px 2px 
    rgba(195, 195, 195, 0.25);
    border-radius: 10px;
    margin-top: 122px;
}
    /* background: brown; */
    /* width: 376px;
    height: 275px;
    left: 29px;
    top: 38px;
    background: #FFFFFF;
    border: 0.5px solid rgba(217, 217, 217, 0.66);
    box-sizing: border-box;
    box-shadow: 0px 3px 67px 2px rgba(195, 195, 195, 0.25);
    border-radius: 10px; */
    /* width: 566px;
height: 435px;
left: 782px;
top: 3694px; */
.titre::after{
    content: "";
    width: 120px;
    height: 4px;
    display: block;
    background-color:black;

}

.text-samba{
    font-style: italic;
    font-weight: normal;
    /* font-size: 16px; */
    /* margin-left: 2rem; */
    /* margin-bottom: 80px; */
    /* margin-left: 55px; */
    /* width: 111px;
    height: 161px;
    margin-left: 267px;
    margin-top: 209px; */
    /* margin-top: -3px; */
    /* line-height: 22px; */
    /* line-height: 22px;
    margin-left: 123px;
    margin-top: 80px; */

color: #2B2B2B;
}
.samba-name{
    font-style: normal;
    font-size: 26px;
    line-height: 25px;
    color: #000000;
}
.conetnu{
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    justify-content: flex-start;
    margin-left: 3rem;
    margin-right: 2rem;
    

}
.photo{
    width: 226px;
    height: 259px;
    margin-top: -3.5rem;
    margin-left: -3.5rem;
    /* box-shadow: 10px 8px 34px 6px rgba(185, 181, 181, 0.25); */
    border-radius: 10px;
}
.titre{
    color: #CE0033;
    width: 100px;
    height: 63px;
    margin-left: 90px;
    margin-top: 201px;
    font-weight: 900;
    font-size: 48px;
    line-height: 65px;
    text-align: center;
}
.appre{
    background-image: url("../img-accueil/apprenants.jpg");
   
    width: 689px;
    height: 490px;
    margin-left: 690px;
    margin-top: -0.2rem;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


/* Section contactez nous */
/* .nom{
    margin-top: 20px;      
    margin-right: 5%;
    Width:369px;
    Height: 74px;
    border-radius: 10px;
    margin-bottom: 3%;
    box-shadow: 4px 4px 26px 0px #5E6D6C57;

}
.text{
    margin-top: 20px; 
    Width:700px;
    Height:200px;
    border-radius: 10px; 
    box-shadow: 4px 4px 26px 0px #5E6D6C57;
   
}

.formulaire{
    margin-top: 3%;
    display: flex;
    justify-content: center;
    /* align-items: center; *
    width: 70%;
    height: 600px;
    /* background: #CE0033; */
    /* margin-bottom: 5px; *
    
}
.icone-and-contenu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.contact{
    display: flex; 
    justify-content: center;
    flex-direction: column;
    width: 30%;
    height: 600px;
    margin-bottom: 5px;
    margin-left: -2rem;
}
.contenu-contact{
    margin-left: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.texto{
    display: flex;
    flex-direction: row;
} */

/* Fin section contactez nous */



/* Section Footer *
.banner-footer{
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(58, 57, 57, 0.5)),url('images/bagroundfoouter.png') center center
    no-repeat;
    background-size: cover;
    height: 400px;
}

/* .case-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50px;
    width: 20px;
} */

/* .icone-r-s{
    display: flex;
    flex-direction: row;
    
}
.envoi{
    display: flex;
    flex-direction: row;
    
}
.envoi-input{
    display: flex;
    justify-content: center;
    border-radius: 10px 0 0 10px;
    width: 160px;
    height: 60px;
}
.btn-joindre{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #CE0033;
    border-color: transparent;
    color: #ffff;
    border-radius: 0 10px 10px 0px;
    height: 60px;
    width: 70px;
    font-size: large;

}
.pied-bas{
    background: #CE0033;
    height: 70px;
    width: 100%;
    /* margin-bottom: 1px; *
    font-style: normal;
    font-weight: lighter;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;  
}
.copyright{
    margin-left: 1rem;
    margin-right: 1rem;
}
.log-footer {
    margin-left: 5rem; 
} */

/* Fin section footer */

/* @media query */

/* 
    .banner-footer{
    height: auto;
}

.icone-r-s{
    display: flex;
    /* flex-wrap: wrap; *
    flex-direction: row;
    justify-content: space-around;
}
.envoi-input , .btn-joindre{
    height: auto;
    width: auto;
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 5px;
}
.envoi{
    flex-direction: column;
    margin-bottom: 10px;
}

.titre-banner{
    font-size: 50px;
}
.titre-simplon-senegal{
    font-size: 30px;
}
.sectionImage{
    display: flex;
    justify-content: center;
    width: 100%;
    border-radius: 20px;
}
.pied-bas{
    font-size: 15px;
    /* margin-bottom: 5px; *
    height: auto;
    font-size: 11px;
    line-height: 8pxpx;
}
.sout-section-simplon{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #000000; 
}

.champ-nom , .message-text{
    height: auto;
    width: auto;
   
}
.div-champ{
    flex-direction: column;
}

.dispositif{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.formulaire , .contact{
    /* margin-bottom: 3rem; *
    justify-content: center;
    height: auto;
    width: auto;
    margin-left: 0;
}
.champ-nom , .message-text {
    width: 100%;
}
.icone-and-contenu{
    justify-content: center;
}
.icone-and-contenu{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contenu-contact{
    justify-content: center;
    align-items: center;
}

.log-footer{
    margin-left: 0;
}

.copyright{
    margin: 0;
    display: flex;
    /* flex-direction: column; *
}
.img-footer {
    margin-left: 3rem;
}

*/






/* width: 233px;
height: 161px;
left: 267px;
top: 209px;

font-family: Nunito Sans;
font-style: italic;
font-weight: normal;
font-size: 16px;
line-height: 22px;

color: #2B2B2B; */

/* position: absolute;
width: 226px;
height: 259px;
left: 0px;
top: 17px;

background: url(.jpg);
box-shadow: 10px 8px 34px 6px rgba(185, 181, 181, 0.25);
border-radius: 10px; */



/* position: absolute;
width: 498px;
height: 397px;
left: 29px;
top: 38px;

background: #FFFFFF;
border: 0.5px solid rgba(217, 217, 217, 0.66);
box-sizing: border-box;
box-shadow: 0px 3px 67px 2px rgba(195, 195, 195, 0.25);
border-radius: 10px;

width: 498px;
height: 397px;
left: 29px;
top: 38px;

background: #FFFFFF;
border: 0.5px solid rgba(217, 217, 217, 0.66);
box-sizing: border-box;
box-shadow: 0px 3px 67px 2px rgba(195, 195, 195, 0.25);
border-radius: 10px; */
